body {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
}

hr {
  background-color: #dedede;
  border: none;
  height: 1px;
  margin: 30px 40px 30px 40px;
}

#wrapper {
  max-width: 800px;
}

#avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.25);
}

#top {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  height: 50%;
  max-height: 300px;
  padding: 40px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border-radius: 10px;
}

#avatar-name {
  display: flex;
  align-items: center;
}

#name {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: WhiteSmoke;
  width: auto;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  color: WhiteSmoke;
  text-align: center;
}

#writeup-contact {
  display: flex;
}

#writeup {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}

.iconSmall {
  color: #37352f;
  font-size: 16px;
  height: 16px;
  margin: 0px;
}

.iconBig {
  color: #37352f;
  font-size: 32px;
  height: 32px;
  margin-bottom: 8px;
}

#contact {
  margin: 15px 40px 20px 40px;
  padding: 20px;
  font-size: 18px;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: #efefef;
  border-radius: 10px;
}

#contact a {
  color: #37352f;
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  font-size: 20px;
  color: #37352f;
}

#periods {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.period h3 {
  color: #37352f;
  text-align: left;
}

#believe {
  width: 100%;
  color: #6a11cb;
  font-size: revert;
  padding-left: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.period {
  color: #37352f;
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  min-height: 160px;
  padding: 20px;
  margin: 20px;
  display: flex;
  font-size: 18px;
  border-radius: 10px;
  align-items: flex-start;
  flex-direction: column;
  transition-property: width, height, margin, box-shadow, -webkit-box-shadow,
    -moz-box-shadow;
  transition-duration: 0.2s;
}

.period:hover {
  box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
}

#news {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-thing h3 {
  color: #37352f;
  text-align: left;
}

.new-thing a {
  color: #37352f;
}

#my-news {
  width: 100%;
  color: #6a11cb;
  font-size: revert;
  padding-left: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.new-thing {
  color: #37352f;
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  min-height: 160px;
  padding: 20px;
  margin: 20px;
  display: flex;
  font-size: 18px;
  border-radius: 10px;
  align-items: flex-start;
  flex-direction: column;
  transition-property: width, height, margin, box-shadow, -webkit-box-shadow,
    -moz-box-shadow;
  transition-duration: 0.2s;
}

.new-thing:hover {
  box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
}

#footer {
  height: 200px;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  margin-bottom: 40px;
  padding: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
#wrapper {
    width: 100%;
    padding: 0px;
  }
#top {
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    max-height: 350px;
  }
#avatar-name {
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
#avatar {
    width: 160px;
    height: 160px;
  }
#name {
    align-items: center;
  }
#writeup-contact {
  flex-direction: column;
}
#writeup {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
#contact {
  text-align: left;
  align-items: flex-start;
  }
}
